<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="/static/Icons.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="container">
        <h3 class="center">
             Wifi Networks
        </h3>
        <div class="collection center">
            {% for i in data %}
              <div class="collection-item">
                <a href="/connect/{{i["ssid"]}}">
                    {% if i["code"] == 1 %}
                    <span class="left">
                        <i class="material-icons">wifi</i>
                    </span>
                    {% endif %}
                    
                    {{i["ssid"]}}
                </a>
                {% if i["del"] == 1 %}
                  <a href="/delete/{{i["ssid"]}}">
                    <span class="right" style="color:red">
                      <i class="material-icons">delete</i>
                    </span>
                  </a>
                {% endif %}
                </div>
            {% endfor %}
          </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/static/materialize.min.js"></script>
  </body>
</html>